html, body {height: 100%;}

.Container {
  width: 70%;
  min-width: 1024px;
  margin: auto;
  border: 1px solid;
  border-radius: 15px;
  height: 100%;
}

.Description {
  width: 70%;
  margin: auto;
  margin-top: 40px;
  border: 1px solid;
  border-radius: 15px;
}

.Description p, h3, h4 {
  text-align: center;
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;
}

.Form {
  font-size: 18px;
  min-width: 320px;
  width: 15%;
  border: 1px solid;
  border-radius: 15px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 80px;

}

input[type=text], input[type=password], input[type=email] {
  min-width: 250px;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 15px;
}

label {
  margin: 10px;

}

#pr {
  min-height: 90px;
  max-height: 90px;
  min-width: 250px;
  max-width: 250px;
  padding-top: 3px;
  padding-bottom: 3px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus {
  background-color: lightblue;
}

input[type=submit] {
    background-color: lightblue;
    border-radius: 10px;
    font-size: 14px;
    padding: 7px 20px;
    cursor: pointer;
  }
input[type=submit]:active {
    background-color: blue;
  }

.Footer {
  //position: absolute;
  //bottom: 10px;

}

.Footer p {
  //float: right;
  text-align: right;
}
