/config/proftpd/mhadmin.passwd
/config/sites-config/*
!/config/sites-config/.keep
/public/phpmyadmin/*
/app/temp/*
/app/core/TestController.php
/docker/mysql/*
!/docker/mysql/.keep
/docker/sites-enabled/*
!/docker/sites-enabled/.keep
/public/images/*
!/public/images/standup_cat2.png
/log/*
!/log/.keep
/adminer/*
/vhosts/*
!/vhosts/.keep
/archive/*
!/archive/.keep
