/config/proftpd/mhadmin.passwd
/config/sites-config/*
!/config/sites-config/.keep
/public/phpmyadmin/*
/app/temp/*
/app/core/Test.php
/docker/mysql/*
!/docker/mysql/.keep
/public/images/*
/log/*
!/log/.keep
/adminer/*
/vhosts/*
!/vhosts/.keep
/archive/*
!/archive/.keep
